apiVersion: apps/v1
kind: Deployment
metadata:
  name: vaultwarden
spec:
  template:
    spec:
      containers:
        - name: vaultwarden
          image: vaultwarden/server:1.34.3
          ports:
            - containerPort: 80
          env:
            - name: DOMAIN
              value: https://vaultwarden.bream-toad.ts.net
          envFrom:
            - secretRef:
                name: vaultwarden-env
          volumeMounts:
            - name: data
              mountPath: /data
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: vaultwarden-longhorn
